<h1 class="text-center mb-4">Welcome to my todolist app</h1>
<%= render 'layouts/task_form'  %>

<div class="container">
  <ul>
  <!-- Default unchecked -->

  <% @categories.each do  |category|%>
  <li><%= category.title  %></li>
  <div class="card">
    <ul class="cat-<%= category.id %>">
      <% category.tasks.each do |task|  %>
      <span class="span">
        <li id="task-<%= task.id %>" class="task">
        <div class="custom-control custom-checkbox">
          <%= check_box_tag :status, true, task.status , data: { remote: true, url: task_path(task.id), params: { title: task.title, deadline: task.deadline}.to_param, method: "put", class: "custom-control-input" }%>
        </div>

          <%= task.title  %>
          <% unless task.deadline.nil? %>
            , to read: <%= task.deadline.strftime('%D')  %>
          <% end %>
          <%= link_to "x", task_path(task.id), method: :delete, class: "far fa-trash-alt delete-btn", remote: true %>
          <%= task.status %>
        </span>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
  </ul>
</div>

<div class="container">
  <div class="row">
    <% @tasks.each do |task|  %>
      <div class="card col-3">
        <% unless task.image.nil? %>
          <%= image_tag task.image, class: "rounded-circle" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
