<li class="pt-2">
  <div class="d-flex">
    <div>
      <div class="title">
        <b><%= email.objet %></b>
      </div>
      <br>
      <%= link_to email_path(email.id), :action => 'go' do %>
        <div class="header">
          <span class="from">
            <%= email.email %>
          </span>
          <br>
          <span class="date">
          <span class="fa fa-paper-clip"></span><%= email.created_at %></span>
        </div>
      <% end %>
      <%= email.body %>
    </div>
  </div>
  <div class="mt-3">

    <%= button_tag :read, class:"btn btn-info", id:"envelope-btn-#{email.id}", data: { remote: true, url: email_path(email.id), params: { read: email.read }.to_param, method: "put" } do %>
      <% if email.read == true %>
        <span class="action"><i class="fa fa-envelope-open" id="icon-<%= email.id %>"></i></span>
      <% else %>
        <span class="action"><i class="fa fa-envelope" id="icon-<%= email.id %>"></i></span>
      <% end %>
    <% end %>





    <%= link_to email_path(email.id), method: 'delete', remote: true do %> 
      <button class="btn btn-danger">
        <span class="action"><i class="fa fa-trash"></i></span>
      </button>
    <% end %>
  </div>

</li>