<li class="pt-2">
  <div class="d-flex">
    <div>
      <div class="title">
        <b><%= email.objet %></b>
      </div>
      <br>
      <%= link_to email_path(email.id), :action => 'go' do %>
        <div class="header">
          <span class="from">
            <%= email.email %>
          </span>
          <br>
          <span class="date">
          <span class="fa fa-paper-clip"></span><%= email.created_at %></span>
        </div>
      <% end %>
      <%= email.body %>
    </div>
  </div>
  <div class="mt-3">
    <button class="btn btn-info mr-2">
      <span class="action"><i class="fa fa-envelope-open"></i></span>
    </button>
    <%= link_to email_path(email.id), method: 'delete', remote: true do %> 
      <button class="btn btn-danger">
        <span class="action"><i class="fa fa-trash"></i></span>
      </button>
    <% end %>
  </div>

</li>