<li class="message unread pt-2" id="list-<%= email.id %>">
  <div class="d-flex">
    <div class="col-pixel-width-70">
      <div class="actions">
        <%= button_tag :read, class:"btn btn-primary envelope-btn", data: { remote: true, url: email_path(email.id), params: { read: email.read }.to_param, method: "put" } do %>
          <span class="action">
            <i class="fa fa-envelope"></i>
          </span>
        <% end %>

        <%= link_to email_path(email.id), method: 'delete', remote: true do %> 
          <span class="action">
            <i class="fa fa-trash"></i>
          </span>
        <% end%>
          
      </div>
    </div>
    <div>
      <%= link_to email_path(email.id), method: 'get', remote: true do %>
        <div class="header">
          <span class="from">
            <%= email.email %>
          </span>
          <span class="date">
          <span class="fa fa-paper-clip"></span> <%= email.created_at %></span>
        </div>
      <% end %>
      <div class="title">
        <%= email.objet %>
      </div>
    </div>
  </div>
</li>